{
    "$schema": "http://json.schemastore.org/swcrc",
    "test": ".*.ts$",
    "exclude": [
        ".*.js$",
        ".*.map$"
    ],
    "module": {
        "type": "commonjs",
        "strict": true,
        "strictMode": true,
        "lazy": false,
        "noInterop": false
    },
    "jsc": {
        "parser":
        {
            "syntax": "typescript",
            "tsx": false,
            "decorators": false,
            "dynamicImport": true
        },
        "transform": null,
        "target": "es2020",
        "loose": false,
        "externalHelpers": false,
        "keepClassNames": true
    },
    "sourceMaps": true
}
